<!doctype html>
<html>
	<head>
		<title>Testing Angular directives</title>
		<script type="text/javascript" src="..\scripts\lib\angular.min.js"></script>
		<!--<script type="text/javascript" src="..\scripts\lib\angular-route.js"></script>-->
		<script type="text/javascript" src="..\scripts\test-directives.js"></script>
	</head>
	<body ng-app="testDirectives">
		<div ng-controller="testDirectivesCtrl">
			<div>
				<label for="user-input">
					Enter text:
					<input id="user-input" type="text" ng-model="userInput"></input>
				</label>
			</div>
			Here's what you entered: {{userInput}}
		</div>
	</body>
</html>