<!doctype html>
<html>
	<head>
		<title>Testing Angular directives</title>
		<script type="text/javascript" src="..\scripts\lib\angular.min.js"></script>
		<!--<script type="text/javascript" src="..\scripts\lib\angular-route.js"></script>-->
		<script type="text/javascript" src="..\scripts\test-directives.js"></script>
	</head>
	<body ng-app="testDirectives">
		<div ng-controller="testDirectivesCtrl">
			<div>
				<label for="user-input1">
					Enter text (1):
					<input id="user-input1" type="text" ng-model="userInput1"></input>
				</label>
			</div>
			<display-input></display-input>
			<div>
				<label for="user-input2">
					Enter text (2):
					<input id="user-input2" type="text" ng-model="userInput2"></input>
				</label>
			</div>
			<display-input></display-input>
			
		</div>
	</body>
</html>